<h1>Add your joke here:</h1>
<a type='button' href="/jokes">See Jokes</a>
<form id="add-joke" method="POST" action="/storeJoke">
    <label for="joke" >Add your joke here:</label>
    <input type="text" name="joke">
    <input type="submit" value="submit">
</form>